@charset "utf-8";
/* CSS Document */

/* cssfront-foundation beta Dec. 2 2016 by Oxford Harrison. License: MIT */

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
:not(output):-moz-ui-invalid {box-shadow:none;}
:not(output):-moz-ui-invalid:-moz-focusring {box-shadow:none;}

/* -------------Defaults---------------- */

:root {
	--breakpoint-xs: 360px;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

@-ms-viewport {
  width: device-width;
}

/* ------------------ */

*, *::before, *::after {
    -moz-box-sizing:inherit;
	-webkit-box-sizing:inherit;
	box-sizing:inherit;
}
* {
	margin:0px;
	padding:0px;
	outline-style:none !important;
}
html {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: transparent;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
select::-webkit-input-placeholder,
select::-ms-input-placeholder,
select::-moz-input-placeholder,
input::-webkit-input-placeholder,
input::-ms-input-placeholder,
input::-moz-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-ms-input-placeholder,
textarea::-moz-input-placeholder {
	opacity:1;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

button,
input {
  overflow: visible;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
textarea {
  overflow: auto;
  resize: vertical;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}


pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
code {
  font-size: 87.5%;
  word-break: break-word;
}
a > code {
  color: inherit;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

table {
  border-collapse: collapse;
}

/* ------------------ */

[class^="col-"]:not([class^="kids--col-"]):not([class*=" kids--col-"]),
[class*=" col-"]:not([class^="kids--col-"]):not([class*=" kids--col-"]) {
	position: relative;
	min-height: 0px;
	min-width: 0px;
	/**
	These are already the defaults
	*/
	-webkit-box: 0;
	-moz-box: 0;
	-webkit-flex: 0 0 0;
	-ms-flex: 0 0 0;
	flex: 0 0 0;
}

/* ------------------ */

.list-style-none {
	list-style: none;
}

.float-fix {
	position:relative;
}
.float-fix:after {
	position:relative;
	clear:both;
	display:block;
	content:"";
}

/**
 * -------------------
 * SCROLLING
 * -------------------
 */

.softscroll {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/**
 * -------------------
 * Z-INDEX
 * -------------------
 */

.max-wt-768 {
	max-width:768px;
}
.max-wt-800 {
	max-width:800px;
}
.max-wt-1000 {
	max-width:1000px;
}
.max-wt-1200 {
	max-width:1200px;
}

/*---------------------------------*/

.mg-auto {
	margin:auto;
}
 
/*---------------------------------*/

.z-index-0 {
	z-index:0 !important;
}
.z-index-10 {
	z-index:10 !important;
}
.z-index-50 {
	z-index:50 !important;
}
.z-index-250 {
	z-index:250 !important;
}
.z-index-500 {
	z-index:500 !important;
}
.z-index-1000 {
	z-index:1000 !important;
}
.z-index-1500 {
	z-index:1500 !important;
}
.z-index-2000 {
	z-index:2000 !important;
}
.z-index-behind {
	z-index:-1 !important;
}
.z-index-auto {
	z-index:auto !important;
}

/*------------------*/ 
 
.pointer-events,
/* --kids-- */
.kids--pointer-events > * {
	-moz-pointer-events:auto !important;
	-ms-pointer-events:auto !important;
	-o-pointer-events:auto !important;
	-webkit-pointer-events:auto !important;
	pointer-events:auto !important;
}
.pointer-events-none,
/* --kids-- */
.kids--pointer-events-none > * {
	-moz-pointer-events:none !important;
	-ms-pointer-events:none !important;
	-o-pointer-events:none !important;
	-webkit-pointer-events:none !important;
	pointer-events:none !important;
}

/*---------------------------------*/
 
.cursor-pointer {
	cursor:pointer !important;
}
.cursor-default {
	cursor:default !important;
}
.cursor-help {
	cursor:help !important;
}
.cursor-ban {
	cursor:not-allowed !important;
}
.cursor-text {
	cursor:text !important;
}
.cursor-wait {
	cursor:wait !important;
}
.cursor-progress {
	cursor:progress !important;
}
.cursor-no-drop {
	cursor:no-drop !important;
}
.cursor-none {
	cursor:none !important;
}

/*---------------------------------*/

.hidden,
[aria-hidden] {
  display: none !important;
}

/* -------------------------------------- */

/** opacity-sm pointer-events-none */
.disabled {
	-moz-opacity:0.35;
	-webkit-opacity:0.35;
	opacity:0.35;
}
.disabled,
.disabled * {
	cursor:not-allowed !important;
	-moz-user-focus:none;
	-moz-user-input:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
